# Ignore Terraform files and directories
**/.terraform/
*.tfstate
*.tfstate.backup
*.tfplan
*.tfvars

# Ignore Python virtual environment
venv/
__pycache__/

# Ignore compiled Python files
*.pyc
*.pyo
__pycache__/

# Ignore IDE and editor-specific files (e.g., VSCode, PyCharm, etc.)
.vscode/
.idea/

# Ignore Python package build and distribution files
*.egg-info/
dist/
build/

# Ignore logs and local development files
*.log
*.swp

# Ignore system and temporary files
.DS_Store
Thumbs.db

# Optional: Uncomment and customize if you have other specific files or directories to ignore
# CustomIgnoreDirectory/
# custom_file.extension

